<!-- Header with logo and navbar -->
<div class="header-container">
    <div class="row logo">
        <div class="col-11">
            <img src="assets/images/tendereasylogo.png"/>
        </div>
        <div class="col-1">
            <img class="languages-img" src="assets/images/languages.png"/>
        </div>
            
            
    </div>
    <div class="row">
        <div class="navbar">
            <div class="navbarlinks">
                <a class="navbarlink">SOLUTIONS</a>
                <a class="navbarlink">HOW TO OPTIMIZE</a>
                <a class="navbarlink">REFERENCES</a>
                <a class="navbarlink">ABOUT US</a>
                <a class="navbarlink">SUPPORT</a>
                <a class="navbarlink">SIGN UP</a>
            </div>
        </div>
    </div>    
</div>
