<div class="row selection-menu-container">
    <div class="row login-info">
        <span>LOGGED IN AS: TESTUSER @ TEST COMPANY AB - TEST123@EMAIL.COM</span>
    </div>
    <div class="row transportimages">
        <div>
            <img src="assets/images/truck.PNG"/>
            <img src="assets/images/boat.PNG"/>
            <img src="assets/images/plane.PNG"/>
            <img src="assets/images/train.PNG"/>
        </div>
    </div>
    <div class="row section-select">
        <div>
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['']">DASHBOARD</button>
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/freightsearch']">Freight Search</button>
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['']">Spot Requests</button>
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="['']">Bookings</button>
        </div>
    </div>
</div>

